@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple login example</h1>
   
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Getting started</h2>
        <p>

            Click the Log in link in the menu on the left to try the application
        </p>
        <p>
            To test the application there are two user accounts:
        </p>
        <p>
            <br>
            Admin login:  <br>
            username: admin  <br>
            password: admin1<br>

           <br>
           <br>

            User login:<br>
            username: user<br>
            password: user1<br>

        </p>

    </div>
   
</div>